body {
padding: 0;
margin: 0;
background-image: url("../img/volei-image.png");
background-repeat: no-repeat;
background-size: cover;
}
#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#cadastrar-se {
    color: #F9CC02;
}
#cadastrar-se:hover {
    color: #302f2f;
}
.card {
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
    border-radius: 15px;
    padding: 40px;
    width: 280px;
    border: solid 3px;
    border-color: #302f2f;
    box-shadow: 0px 0px 6px #494848;
}
.card-header {
    padding-bottom: 50px;
    opacity: 0.8;
    color: #fff;
}
.card-header::after {
    width: 70px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
}
.card-content label {
    color: #fff;
    font-size: 12px;
    opacity: 0.8;
}
.card-content-area {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.card-content-area input {
    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #fff;
}
.card-footer {
    display: flex;
    flex-direction: column;
}
.card-footer .submit {
    position: relative;
    left: 33%;
    width: 90px;
    height: 40px;
    background-color: #fff;
    border-radius: 6px;
    border: solid;
    border-width: 2px;
    border-color: #494848;
    box-shadow: 0px 0px 12px #7c7a7a;
    color: #494848;
    margin: 10px 0;
}
.card-footer .submit:hover {
    transition: all 0.6s ease;
    color: #fff;
    border-color: #fff;
    box-shadow: 0px 0px 12px #fff;
    background-color: #494848;
    border-width: 2px;
}
.card-footer .submit:hover::after {
    transform: scale(0.1, 1);
}
.card-footer a {
    text-align: center;
    font-size: 12px;
    opacity: 0.8;
    color: #fff;
    text-decoration: none;
}
#volley {
    color: #1E90FF;
    font-size: 18px;
}
#center {
    color: #F9CC02;
    font-size: 18px;
}
.links:hover {
    color: #fff;
}
#button_cadastro {
    width: 100px;
}