* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

.meioDosFundamentos{
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(189, 171, 171, 0.507);
  animation: appear linear;
  height: 180rem;
  width: 70rem;
  position: relative;
  left: 420px;
}

.nav-link {
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.espacoentrediv{
  margin-bottom: 20px;
}

.text-align-center{
  font-size: 50px; 
  position: relative;
  left: 30px; 
  display: flex;
  font-family: 'Segoe UI', sans-serif;
}

.align-text{
  margin-left: 30px;
  margin-right: 30px;
  text-align: justify;
  font-weight: bold;
}


.fundamentosalado{
  color: #777777;
}

.card{
  width: 550px; 
  height: 300px;
  margin-top: 20px;
  margin-left: 20px;
  float: left; 
  margin-right: 20px;
}


.card-text{
  display: flex;
  width: 300px;
  margin: 20px;
  font-size: 20px; 
}

.restotexto{
  max-width: 60rem; 
  margin-top: 15px;
}

