* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

.nav-link {
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.meioDosFundamentos{
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(189, 171, 171, 0.507);
  height: 500rem;
  width: 70rem;
  position: relative;
  left: 420px;
}

.text-align-center{
  
  position: relative;
  left: 30px; 
  display: flex;
 
}

.align-text{
  margin-left: 30px;
  margin-right: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: justify;
  color: #495057;
}




.fundamentosaolado{
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;

  
}

.card{
  width: 550px; 
  height: 300px;
  margin-top: 20px;
  margin-left: 20px;
  float: left; 
  margin-right: 20px;
}


.card-text{
  display: flex;
  width: 300px;
  margin: 20px;
  font-size: 20px; 
}

.restotexto{
  max-width: 60rem; 
  margin-top: 15px;
}
 