* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  width: fit-content;
}
.navigation a#link-2 {
  color: #7fb7f0;
}
.nav-link {
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}
.ana {
  background-color: #f9cc02;
  font-family: Courier New;
}
