* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a#inicial {
  color: #7fb7f0;
}
form.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* main .background {
  width: 80%; 
  border: 1px solid #cecece; 
  border-radius: 5px;
  box-shadow: 0px 0px 1px #0b0b0b; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  padding: 2rem;
} */

img {
  transition: 0.8s ease-in-out;
  width: 100%;
  height: 100%;
}

img:hover {
  transform: scale(1.04);
  width: 100%;
  object-fit: cover;
}
.card {
  position: relative;
  overflow: hidden;
}
.card img {
  position: relative;
  z-index: 1;
}
.card-img img:hover {
  background: none;
  opacity: 0.4;
  transition: 0.7s ease-in-out;
  transform: scale(1.05);
  z-index: -1;
}

.card-body {
  padding-bottom: 15px;
}
.card {
  margin: 3px;
}
.card-body h5 {
  display: flex;
  margin-top: 15px;
  font-size: 22px;
}
/* Inicio do carrousel inicial */
#carouselExample .carousel-inner {
  background-color: black;
  box-shadow: 0px 0px 7px #787878;
}
#first-carousel img {
  display: block !important;
  width: 100%;
  height: 100%;
  max-height: 500px;
  opacity: 0.8;
}
.carousel-item h1 {
  font-size: 70px;
  position: relative;
  bottom: 70px;
  display: flex;
  right: 110px;
  text-shadow: 0px 0px 8px #0b0b0b;
  font-weight: 500;
}
.carousel-caption p {
  font-size: 30px;
  position: relative;
  bottom: 70px;
  display: flex;
  right: 110px;
  color: #f0f0f0;
  text-shadow: 0px 0px 8px #0b0b0b;
}
span#title-site1 {
  color: #1e90ff;
  margin-right: 15px;
}
span#title-site2 {
  color: #f9cc02;
  margin-right: 15px;
}
/* Fim do carrousel inicial */
.carousel-imagesItens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.carousel-imagesItens #carouselExampleInterval {
  display: flex;
  max-width: 1303px;
  max-height: 1000px;
  border: none;
  border-radius: 11px;
  background-color: black;
  flex-grow: 1;
}
#carouselExampleInterval .carousel-inner {
  border-radius: 10px;
  opacity: 0.6;
  box-shadow: 0px 5px 30px #696969;
}
.carousel-item img {
  height: 690px;
}
.carousel-caption h5.carousel-title {
  text-shadow: 0px 0px 8px #0b0b0b;
  font-size: auto;
}
.carousel-caption h2.carousel-title {
  font-size: 38px;
  width: 950px;
  text-shadow: 0px 0px 8px #0b0b0b;
  font-size: auto;
}
.carouselDownPics {
  display: flex;
  gap: 93px;
  justify-content: center;
}
.carouselDownPics .card {
  position: relative;
  flex-basis: 600px;
  background-color: transparent;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 2px 5px #0b0b0b;
  min-width: 200px;
  width: 600px;
  height: 359px;
  border: none;
  background: transparent;
}
.carouselDownPics .card:hover {
  box-shadow: 0px 5px 10px #0b0b0b;
  filter: brightness(50%);
}
.carouselDownPics .card img {
  cursor: pointer;
}
.anuncio-produtos {
  display: flex;
  gap: 6rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #1e90ff;
  box-shadow: 0px 1px 8px #222222;
  transition: 0.3s ease-in-out;
}
.anuncio-produtos:hover {
  cursor: pointer;
  box-shadow: 0px 1px 14px #222222;
}
.anuncio-produtos .descricao-anuncio button {
  width: 7rem;
  height: 3rem;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 3px #fff;
  transition: 0.3s ease-in-out;
}
.descricao-anuncio button:hover {
  box-shadow: 0px 0px 7px #fff;
  background: #f9cc02;
}
h1#noticias-sem-title {
  font-size: 32px;
  font-style: italic;
  position: relative;
  left: 0.9rem;
}
.noticias-align {
  display: flex;
  justify-content: center;
}
.noticias-align .row {
  width: 1250px;
  position: relative;
  display: flex;
  justify-content: center;
}
.col .card {
  transition: 0.6s ease-in-out;
}
.col .card:hover {
  box-shadow: 0px 0px 10px #696969;
  filter: brightness(80%);
}
.col .card img {
  height: 350px;
  width: 100%;
  transition: 0.6s ease-in-out;
}
.col .card img:hover {
  filter: brightness(50%);
}
.col .card p.card-text {
  color: #1e90ff;
}

@media screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  #title-site1 {
    display: flex;
    font-size: 40px;
    margin-left: 24rem;
  }
  #title-site2 {
    font-size: 40px;
  }
  .carousel-caption p {
    display: flex;
    font-size: 25px;
    margin-left: 12rem;
  }
  #carouselExampleInterval {
    position: relative;
    max-width: 900px;
    height: 450px;
    margin: 0 15px 0 15px;
  }
  .carousel-caption h5.carousel-title {
    display: flex;
    justify-content: center;
    font-size: 13px;
  }
  .carousel-caption h2.carousel-title {
    display: flex;
    justify-content: center;
    position: relative;
    right: 14em;
    font-size: 15px;
  }
  .carouselDownPics {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    gap: 50px;
  }
  .carouselDownPics .card {
    display: flex;
    min-width: 300px;
    min-height: 150px;
    max-width: 500px;
    max-height: 260px;
    border: none;
    box-shadow: 0px 0px 6px #0b0b0b;
    flex-grow: 1;
  }
  .carouselDownPics img {
    flex-basis: 200px;
    width: 500px;
    height: 280px;
    z-index: 1;
    display: flex;
    flex-grow: 1;
  }

  h1#noticias-sem-title {
    font-size: 28px;
    display: flex;
    justify-content: center;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .col {
    width: 350px;
    height: 350px;
  }
  .col .card {
    width: 350px;
    height: 320px;
  }
  .card .card-body {
    height: 400px;
  }
  .col .card img {
    width: 350px;
    min-height: 200px;
  }
}
@media screen and (max-width: 986px) {
  #carouselExample {
    display: flex;
  }
  #carouselExample .carousel-caption {
    display: flex;
    top: 6em;
  }
}
@media screen and (max-width: 750px) {
  #carouselExample {
    display: none;
  }
}
@media screen and (max-width: 576px) {
}
@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}
