:root {
  --azul: #0ea5e9; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI Semibold", Arial, Helvetica, sans-serif;
}
nav.navbar {
  background-color: #f9cc02;
}
img.logo-img {
  width: 85px;
  height: 81px;
  margin: 6px 0px 6px 11px;
}
nav.navbar .container-navbar {
  display: flex;
  flex-direction: row;
  gap: 8.5rem;
}
nav.navbar .container-navbar a {
  text-decoration: none;
}
.links-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
  top: 8px;
}
#inicial{
  display: flex;
  position: relative;
  color: #fff;
  list-style: none;
  font-size: 17.5px;
  cursor: pointer;
}
.faltas{
  font-size: 17.5px;
}
.links-navigation li::after {
  content: "";
  position: absolute;
  left: 0;
  margin-top: 2px;
  top: 100%;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.4s ease-in-out;
}
ul.links-navigation li:hover::after {
  width: 100%;
}
ul.links-navigation li:hover {
  color: #7fb7f0;
}
.container-navbar .login-area {
  display: flex;
  align-items: center;
  margin-left: 56rem;
}
.container-navbar a#link-5 button {
  width: 130px;
  height: 55px;
  background: transparent;
  border: 1px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
  text-align: center;
  position: relative;
}

.links-navigation a#link-5 button:hover {
  background-color: #fff;
  color: #1e90ff;
}
.perfil {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: relative;
  transition: .4s ease-in-out;
}
.perfil img.perfil-img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
.perfil details {
  position: relative;
  top: 15px;
}
.perfil details ul {
  position: absolute;
  display: flex;
  right: 100%;
  width: 15rem;
  flex-direction: column;
  background-color: #fff;
  gap: 0;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #0b0b0b;
  top: 10px;
  margin-top: 1.1rem;
  z-index: 2;
}
.details-content {
  display: flex;
  width: 115.6%;
  position: relative;
  right: 2.02rem;
  border-radius: 2px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid #0b0b0b45;
  position: relative;
  margin-left: 0;
}
.perfil details ul button {
  z-index: -1;
  margin-right: 4.1rem;
}
.details-content:last-child {
  border-bottom: none;
}
.details-content:hover {
  background-color: var(--azul);
}
.perfil details ul i {
  font-size: 22px;
  margin-left: 1.5rem;
}
.perfil details ul i:hover {
  background-color: transparent;
}
.perfil details ul li.li-perfil {
  list-style: none;
  color: #000;
  padding: 20px 35px;
  cursor: pointer;
  position: relative;
  right: 15px;
}
.perfil details ul li.li-perfil::after {
  background-color: transparent;
}
.text{
  margin-left: 20px;
}
@media screen and (max-width: 1965px) {
  .links-navigation a#link-5 button {
    right: 0em;
  }
}
@media screen and (max-width: 1765px) {
  .links-navigation a#link-5 button, .perfil {
    right: 8em;
  }
}
@media screen and (max-width: 1665px) {
  img.logo-img {
    width: 75px;
    max-height: 71px;
  }
  .links-navigation a#link-5 button, .perfil {
    right: 18em;
  }
}
@media screen and (max-width: 1465px) {
  img.logo-img {
    width: 70px;
    max-height: 66px;
  }
  .links-navigation a#link-5 button, .perfil {
    right: 24em;
    width: 110px;
    height: 50px;
  }
  ul.links-navigation li {
    font-size: 16px;
  }
}
@media screen and (max-width: 1365px) {
  img.logo-img {
    width: 70px;
    max-height: 66px;
  }
  .links-navigation a#link-5 button, .perfil {
    right: 30em;
    width: 110px;
    height: 50px;
  }
  ul.links-navigation li {
    font-size: 15px;
  }
}
@media screen and (max-width: 1200px) {
  img.logo-img {
    width: 70px;
    height: 65px;
  }
  .links-navigation a#link-5 button, .perfil {
    right: 38em;
    width: 105px;
    height: 45px;
  }
}
@media screen and (max-width: 991px) {
}