.pagina {
  display: flex;
  justify-content: center;
  align-items: center; 
}


.meioRegras{
  margin-top: 50px;
  display: flex;
  flex-direction: column; /* Isso faz com que fique os elementos aqui dentro fiquem como uma coluna */
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(189, 171, 171, 0.507);
  height: auto;
  width: 70rem;
  align-items: flex-start; 
  justify-content: flex-start;
  padding-top: 60px;
  position: relative;

  }

  .text-align{
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }

 

  .text-align-center{
    position: relative;
    left: 30px; 
    display: flex;
   
  }

  .align-text{
    margin-left: 50px;
    margin-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: justify;

  }
  
  
  
  .regrasaolado{
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .card{
    display: flex; 
    margin: auto ;/* Necessário para que o `margin` funcione corretamente */
    width: 50rem;
    height: auto;
    margin-top: 20px;
  }
  


  .card-text{
    display: flex;
    width: 300px;
    margin: 20px;
    font-size: 20px; 
  }
